<!-- template driven form coz all registration inside the template  -->
<!-- (ngForm) identifier will bind form twmplate variable to an object with type ngForm which managed by angular -->
<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <!-- (ngModel) register this element by angular to be aware of and have access to  -->
      <input
        id="email"
        type="email"
        name="email"
        #email="ngModel"
        email
        required
        ngModel
      />
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        name="password"
        minlength="6"
        #password="ngModel"
        password
        required
        ngModel
      />
    </div>

    <button class="button">Login</button>
  </div>

  <!-- @if(form.form.controls['email'].touched &&
  form.form.controls['password'].touched && form.form.invalid) {
    <p class="control-error">invalid values detected, check your inputs</p>
  } -->

  <!-- angular can't  setup controls the first time template being rendered -->
  <!-- thats why template variable should be added to the input feild -->
  <!--  store control  cerated by angular in the template variable #email ="ngModel" -->
  @if(email.touched && password.touched && form.form.invalid){
  <p class="control-error">invalid values detected, check your inputs</p>
  }
</form>
