<!-- you dont need to pass any arguments from template because we already have access to the form from ts file -->
<form [formGroup]="form" (ngSubmit)="onSumbit()">
  <h2>Login</h2>
  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <input type="email" id="email" [formControl]="form.controls.email" />
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" />
    </div>

    <button class="button">Login</button>
  </div>
</form>
